<!-- templates/signup.html -->
{% extends 'stationList/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
	<div class="container" style="padding-top: 2rem">
		<h2 style="text-align:center">Sign up</h2>
		<form method="post">
			<div class="form-row">
				{% csrf_token %}
				<div class="form-group col-md-3"></div>
				<div class="form-group col-md-6">
					<label for="id_username">Username:</label>
					<input class="form-control" type="text" name="username" autofocus maxlength="150" required id="id_username" aria-describedby="usernameHelpBlock" />
					<small id="usernameHelpBlock" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
				</div>
				<div class="form-group col-md-3"></div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3"></div>
				<div class="form-group col-md-6">
					<label for="id_password1">Password:</label>
					<input class="form-control" type="password" name="password1" required id="id_password1" aria-describedby="password1HelpBlock" />
					<small id="password1HelpBlock" class="form-text text-muted">
						Your password can't be too similar to your other personal information.
					</small>
					<small id="password1HelpBlock" class="form-text text-muted">
						Your password must contain at least 8 characters.
					</small>
					<small id="password1HelpBlock" class="form-text text-muted">
						Your password can't be a commonly used password.
					</small>
					<small id="password1HelpBlock" class="form-text text-muted">
						Your password can't be entirely numeric.
					</small>
				</div>
				<div class="form-group col-md-3"></div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3"></div>
				<div class="form-group col-md-6">
					<label for="id_password2">Password confirmation:</label>
					<input class="form-control" type="password" name="password2" required id="id_password2" aria-describedby="password2HelpBlock" />
					<small id="password2HelpBlock" class="form-text text-muted">Enter the same password as before, for verification.</small>
				</div>
				<div class="form-group col-md-3"></div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3"></div>
				<div class="form-group col-md-2">
					<button class="btn btn-primary" type="submit">Sign up</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}