{% extends "stationList/base.html" %}
{% block content %}
	<style>
	.table th, .table td {
		padding: 0rem;
		vertical-align: middle;
	}
	table {
		text-align: center;
	}
	</style>
	<div class="container-fluid" style="padding-top: 1rem">
		<div style="display: inline">
			<h4>
				<button id="gen_btn" class="btn btn-secondary" onclick="showGeneral()">General</button>
				<button id="it_btn" class="btn btn-secondary" onclick="showIT()">IT Info</button>
				<button id="maint_btn" class="btn btn-secondary" onclick="showMaint()">Maintenance</button>
			</h4>
		</div>
	</div>
	<div class="container-fluid">
		<table id="stationTable" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th class="always_show" style="width: 130px">
						<label for="pc_name">PC Name</label>
						<input id="search_pc_name" type="text" value="" onkeyup="searchFunction(0)" name="pc_name" style="width: 130px">
					</th>
					<th class="always_show" style="width: 100px">
						<label for="location">Location</label>
						<input id="search_location" type="text" value="" onkeyup="searchFunction(1)" name="location" style="width: 100px">
					</th>
					<th class="shared_info" style="width: 80px">
						<label for="project">Project</label>
						<input id="search_project" type="text" value="" onkeyup="searchFunction(2)" name="project" style="width: 80px">
					</th>
					<th class="always_show" style="width: 80px">
						<label for="working">Working?</label>
						<input id="search_working" type="text" value="" onkeyup="searchFunction(3)" name="working" style="width: 80px">
					</th>
					<th class="general_info" style="width: 100%">
						<label for="comment">Comment</label>
						<input id="search_comment" type="text" value="" onkeyup="searchFunction(4)" name="comment" style="width: 100%">
					</th>
					<th class="general_info" style="width: 60px">
						<label for="sspec">SSpec</label>
						<input id="search_sspec" type="text" value="" onkeyup="searchFunction(5)" name="sspec" style="width: 60px">
					</th>
					<th class="general_info" style="width: 60px">
						<label for="clapper">Clapper</label>
						<input id="search_clapper" type="text" value="" onkeyup="searchFunction(6)" name="clapper" style="width: 60px">
					</th>
					<th class="general_info" style="width: 60px">
						<label for="dac">DAC</label>
						<input id="search_dac" type="text" value="" onkeyup="searchFunction(7)" name="dac" style="width: 60px">
					</th>
					<th class="general_info" style="width: 60px">
						<label for="pmd">PMD</label>
						<input id="search_pmd" type="text" value="" onkeyup="searchFunction(8)" name="pmd" style="width: 60px">
					</th>
					<th class="maintenance_info">
						<label for="maintenance">Maintenance</label>
						<input id="search_maintenance" type="text" value="" onkeyup="searchFunction(9)" name="maintenance">
					</th>
					<th class="maintenance_info">
						<label for="maintainer">Maintainer</label>
						<input id="search_maintainer" type="text" value="" onkeyup="searchFunction(10)" name="maintainer">
					</th>
					<th class="it_info">
						<label for="pc_os">PC OS</label>
						<input id="search_pc_os" type="text" value="" onkeyup="searchFunction(11)" name="pc_os">
					</th>
					<th class="it_info">
						<label for="ip_addr">IP Address</label>
						<input id="search_ip_addr" type="text" value="" onkeyup="searchFunction(12)" name="ip_addr">
					</th>
					<th class="it_info">
						<label for="mac_addr">MAC Address</label>
						<input id="search_mac_addr" type="text" value="" onkeyup="searchFunction(13)" name="mac_addr">
					</th>
					<th class="shared_info" style="width: 80px">
						<label for="box_id">Box ID</label>
						<input id="search_box_id" type="text" value="" onkeyup="searchFunction(14)" name="box_id" style="width:80px">
					</th>
					<th class="it_info">
						<label for="pc_port_num">PC Port #</label>
						<input id="search_pc_port_num" type="text" value="" onkeyup="searchFunction(15)" name="pc_port_num">
					</th>
					<th class="always_show" style="width: 120px">
						<label for="use_reason">In Use For</label>
						<input id="search_use_reason" type="text" value="" onkeyup="searchFunction(16)" name="use_reason" style="width: 120px">
					</th>
					<th class="always_show" style="width: 120px">
						<label for="checked_out">Checked Out</label>
						<input id="search_checked_out" type="text" value="" onkeyup="searchFunction(17)" name="checked_out" style="width: 120px">
					</th>
					<th class="always_show" style="width: 130px">
						<label for="action">Action</label>
						<input id="search_action" type="text" value="" name="action" style="width: 130px">
					</th>
				</tr>
			</thead>
			<tbody>
				{% if StationData %}
				{% for station in StationData %}
				<tr>
					<td class="always_show">{{station.pc_name}}</td>
					<td class="always_show">{{station.location}}</td>
					<td class="shared_info">{{station.current_project}}</td>
					<td class="always_show">
					{% if station.working %}
						<span class="badge badge-success">Yes</span>
					{% else %}
						<span class="badge badge-danger">No</span>
					{% endif %}
					</td>
					<td class="general_info" style="width: 100%">{{station.comment}}</td>
					<td class="general_info">{{station.sspec}}</td>
					<td class="general_info">
					{% if station.clapper %}
						<span class="badge badge-success">Yes</span>
					{% else %}
						<span class="badge badge-danger">No</span>
					{% endif %}
					</td>
					<td class="general_info">
					{% if station.dac %}
						<span class="badge badge-success">Yes</span>
					{% else %}
						<span class="badge badge-danger">No</span>
					{% endif %}
					</td>
					<td class="general_info">
					{% if station.pmd %}
						<span class="badge badge-success">Yes</span>
					{% else %}
						<span class="badge badge-danger">No</span>
					{% endif %}
					</td>
					<td class="maintenance_info"><div style="display: inline"><span id="maintenance_{{station.id}}">{{station.maintenance}} </span><button class="btn btn-primary btn-sm" onclick="updateMaintenance({{station.id}}, '{{user.get_username}}')">Update</button></div></td>
					<td id="maintainer_{{station.id}}" class="maintenance_info">{{station.maintainer}}</td>
					<td class="it_info">{{station.pc_os}}</td>
					<td class="it_info">{{station.ip_address}}</td>
					<td class="it_info">{{station.mac_address}}</td>
					<td class="shared_info">{{station.box_id}}</td>
					<td class="it_info">{{station.pc_port_num}}</td>
					<td id="chk_out_reason_{{station.id}}" class="always_show">
					{% if station.in_use_for != "" %}
						{{station.in_use_for}}
					{% else %}
						<select id="reason_{{station.id}}" name="Checkout_Reason">
							<option>Regression</option>
							<option>Development</option>
		                    <option>Maintenance</option>
		                </select>
		           	{% endif %}
		           	</td>
					<td id="chk_out_{{station.id}}" class="always_show">{{station.checked_out}}</td>
					<td class="always_show">
						{% if station.checked_out == "No" %}
						<button id="btn_{{station.id}}" class="btn btn-primary btn-sm" onclick="checkOutStation({{station.id}}, '{{user.get_username}}')">Check Out</button>
						{% else %}
							{% if station.checked_out == user.get_username %}
							<button id="btn_{{station.id}}" class="btn btn-primary btn-sm" onclick="releaseStation({{station.id}}, '{{user.get_username}}')">Release</button>
							{% endif %}
						{% endif %}
						<a class="btn btn-primary btn-sm" target="_blank" href="{% url 'stationList:edit' station.id %}">Edit</a>
					</td>
				</tr>
				{% endfor %}
				{% else %}
				<p>No data present in database.</p>
				{% endif %}
			</tbody>
		</table>
	</div>
<script>
var col_list = [
	'pc_name', 
	'location', 
	'project', 
	'working', 
	'comment', 
	'sspec', 
	'clapper', 
	'dac', 
	'pmd',
	'maintenance', 
	'maintainer', 
	'pc_os', 
	'ip_addr', 
	'mac_addr',
	'box_id', 
	'pc_port_num', 
	'use_reason', 
	'checked_out', 
	'action'
];

window.onbeforeunload = function() {
	var i;
	for (i=0; i < col_list.length; i++){
		window.localStorage.setItem(col_list[i], $('#search_' + col_list[i]).val());
	};
};
function showGeneral() {
	$('#gen_btn').removeClass('btn-secondary').addClass('btn-primary');
	$('#it_btn').removeClass('btn-primary').addClass('btn-secondary');
	$('#maint_btn').removeClass('btn-primary').addClass('btn-secondary');
	$('td.shared_info,th.shared_info').show();
	$('td.always_show,th.always_show').show();
	$('td.general_info,th.general_info').show();
	$('td.it_info,th.it_info').hide();
	$('td.maintenance_info,th.maintenance_info').hide();
};
function showIT() {
	$('#gen_btn').removeClass('btn-primary').addClass('btn-secondary');
	$('#it_btn').removeClass('btn-secondary').addClass('btn-primary');
	$('#maint_btn').removeClass('btn-primary').addClass('btn-secondary');
	$('td.always_show,th.always_show').show();
	$('td.general_info,th.general_info').hide();
	$('td.it_info,th.it_info').show();
	$('td.maintenance_info,th.maintenance_info').hide();
	$('td.shared_info,th.shared_info').hide();
};
function showMaint() {
	$('#gen_btn').removeClass('btn-primary').addClass('btn-secondary');
	$('#it_btn').removeClass('btn-primary').addClass('btn-secondary');
	$('#maint_btn').removeClass('btn-secondary').addClass('btn-primary');
	$('td.shared_info,th.shared_info').show();
	$('td.always_show,th.always_show').show();
	$('td.general_info,th.general_info').hide();
	$('td.it_info,th.it_info').hide();
	$('td.maintenance_info,th.maintenance_info').show();
};
function updateMaintenance(id, user){
	$.ajax({
		url: "{% url 'stationList:update_maintenance' %}",
		method: "POST",
		data: {
			id: id,
			username: user,
			csrfmiddlewaretoken: "{{csrf_token}}",
		},
		success: function updateTable() {
			$('#maintenance_' + id.toString()).html(getDateString() + " ");
		}
	})
};
function checkOutStation(id, user) {
	var sel_field = document.getElementById("reason_" + id.toString());
	var reason = sel_field.options[sel_field.selectedIndex].value;
	$.ajax({
		method: "POST",
		url: "{% url 'stationList:checkout' %}",
		data: {
			id: id,
			username: user,
			checkout_reason: reason,
			csrfmiddlewaretoken: '{{ csrf_token }}'
		},
		success: function updateCheckedOut() {
			$('#chk_out_' + id.toString()).html(user.toString());
			$('#chk_out_reason_' + id.toString()).html(reason.toString());
			$('#btn_' + id.toString()).attr('onclick', "releaseStation(" + id.toString() + ", '" + user.toString() + "')");
			$('#btn_' + id.toString()).html('Release');
		}
	});
};
function releaseStation(id, user) {
	$.ajax({
		method: "POST",
		url: "{% url 'stationList:release' %}",
		data: {
			id: id,
			csrfmiddlewaretoken: '{{ csrf_token }}'
		},
		success: function updateRelease(){
			$('#chk_out_' + id.toString()).html("No");
			$('#chk_out_reason_' + id.toString()).html("<select id='reason_" + id.toString() + "' name='Checkout_Reason'><option>Regression</option><option>Development</option><option>Maintenance</option></select>");
			$('#btn_' + id.toString()).attr('onclick', "checkOutStation(" + id.toString() + ", '" + user.toString() + "')");
			$('#btn_' + id.toString()).html('Check Out');
		}
	});
};

function searchFunction(col) {
  // Declare variables 
  var input, filter, table, tr, td, i, th;
  th = document.getElementsByTagName("th")[col];
  input = th.getElementsByTagName("input")[0];
  filter = input.value.toUpperCase();
  table = document.getElementById("stationTable");
  tr = table.getElementsByTagName("tr");
  
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[col];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
};
function getDateString(){
	var options = {day: 'numeric', year: 'numeric', month: 'long'};
	var today = new Date();
	return today.toLocaleDateString("en-US", options);
};

window.onload = function(){
	showGeneral();
	var col_num;
	var storage_name;
	var storage_value;
	for(col_num = 0; col_num < col_list.length; col_num++){
		storage_name = col_list[col_num];
		storage_value = window.localStorage.getItem(storage_name);
		if (storage_value != "") {
			$('#search_' + storage_name).val(storage_value);
			searchFunction(col_num);
		};
	};
};

$(document).ready( function () {
    $('#stationTable').DataTable();
});
</script>

{% endblock %}