{% extends 'stationList/base.html' %}
{% block content %}
			<div class="container-fluid" style="padding-top: 1rem">
				<div style="display: inline">
					<h4>
						<a class="badge badge-pill badge-secondary" href="">Fixture Details</a>
						<a class="badge badge-pill badge-primary" href="">PC Information</a>
						<a class="badge badge-pill badge-secondary" href="">Maintenance Info</a>
						<a style="margin-left: 3.5rem">PC Information</a>
					</h4>
				</div>
			</div>
{% endblock %}